@model ServiceBus.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    @using (Html.BeginForm("Save", "Home", FormMethod.Post))
    {
        <div>
            <div>
                First Name: @Html.TextBoxFor(m => m.FirstName)
            </div>
            <div>
                Last Name: @Html.TextBoxFor(m => m.LastName)
            </div>
            <div>
                Gender: @Html.DropDownListFor(m => m.Gender, ViewBag.GenderOptions as SelectList)
            </div>
            <div>
                <label>Publish? @Html.CheckBoxFor(m => m.Publish)</label>
                <label>Add to Queue? @Html.CheckBoxFor(m => m.PutToQueue)</label>
            </div>
        </div>
        <input type="submit" value="Go"/>
    }

</body>
</html>
